:root {
    --light-alternate-color: #1e90ff;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}



body{
    
    font-family: "Roboto", Arial, sans-serif;
}

.img-background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-search-bar{
    margin-top: -20px;
}

.scroller::-webkit-scrollbar {
    display: none;
}

/*Especificar colores para un modo de colores
[data-bs-theme=dark] .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
*/